/* sall px in rem */

.navbar {
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
	margin: 3rem;
	position: sticky;
}

.navbar-logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-primary);
	text-decoration: none;
	background: white;
}

.navbar-links {
	display: flex;
	gap: 1.5rem;
	background-color: white;
}

.navbar-links li {
	list-style: none;
	padding: 0.5rem 1.5rem;
	border-radius: 30px;
	background: white;
	font-size: 20px;
	transition: color 0.3s ease;
}

.navbar-links li:hover {
	color: var(--text-accent);
	cursor: pointer;
}

.navbar-links li.contact {
	background-color: black;
	color: white;
	transition: background-color 0.3s ease;
}

.navbar-links li.contact:hover {
	background-color: rgb(58, 58, 58);
}
