.projects_container {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project_card {
    width: 20.75rem;
    border-radius: .625rem;
    overflow: hidden;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1rem;
}

.project_image {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.project_title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
    background-color: white;
}

.project_link_img {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-bottom : .2rem;
    margin-right: .3rem;
    background-color: white;
}

.project_link {
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
}

.project_link:hover {
    text-decoration: underline;
}

.project_description {
    margin-top: 1rem;
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
    background-color: white;
}

.project_link_container {
    background-color: grey;
    border-radius: 1rem;
    text-align: left;
    padding: .4rem;
    background-color: white;
    width: fit-content;
    border-color: black;
    border-style: solid;
    border-width: .1rem;
}